In [5]:
a = "Muhmmad "
b = "Ahsan "
c = "Afaque "
print(a+ b+ c)

Muhmmad Ahsan Afaque

In [7]:
a = 10
b = 20
c = 10
print(a+b+c)

40

In [8]:
a = 1+2 * 12/12
print(a)

3.0

In [13]:
total_cost = 1 + 3 * 4
total_cost

13

In [16]:
total_cost = (1 + 3) * 7 / 3
print(total_cost)

9.333333333333334

In [17]:
total_cost = (1 + 3) * 7 //3
print(total_cost)

9

In [19]:
a = "7"
b = '3'
print(a + b)

73

In [23]:
a = 7
b = 3
print(a + b)

10

In [24]:
a = 7
b = 3
print(a - b)

4

In [26]:
a = 7
b = 3
print(a // b)

2

In [29]:
a = 5
a = a + 1
print(a)

6

In [31]:
a = 5
b = 1 + 1
print(a + b)

7

In [35]:
a = 10
a += 2
print(a)

12

In [36]:
a = 5
a = a + 1
print(a)

6

In [37]:
total_cost = 1 + 3 * 4
print(total_cost)

13

In [38]:
total_cost = (1 + 3) * 4
print(total_cost)

16

In [39]:
total_cost = 1 + (3 * 4)
print(total_cost)

13

In [40]:
total_cost = (1 + 3) * 4 / 2
print(total_cost)

8.0

In [41]:
total_cost = (1 + 3) * 4 // 2
print(total_cost)

8

In [48]:
a = 'is'
b = 'my'
c = 'name'
d = b + ' '+ c + " " + a
print(d)

my name is

In [54]:
print("my number is" + " 5")

my number is 5

In [55]:
a = 3 ** 3
a

27

In [57]:
print ('hi' * 4)

hihihihi